extends layout

block content
  h1= title

  form(id='GameForm', action="/resource/games", method="POST")
  div.form-group
    label.gameAttr(for='game_title') Game title 
    input#game_title(type='text', name='game_title')
  div.form-group
    label.gameAttr(for='game_style') Game style
    input#game_style(type='text', name='game_style')
  div.form-group
    label.gameAttr(for='game_size') Game size
    input#game_size(type='number', name='game_size')
  div.form-group
    label.gameAttr(for='rating') Game rating
    input#rating(type='number', name='rating')
  input(type="submit")

  script.
    document.forms['GameForm'].addEventListener("submit", (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });
